<h1>Xanthan Gum</h1>
<div class="">
  a sugar-like compound made by mixing aged (fermented) sugars
  with a certain kind of bacteria (Xanthomonas campestris).
</div>

<div class="">
  <h3>It is an emulsifier</h3>

  It helps ingredients blend more
  effectively and stay blended while waiting on a shelf.
</div>
