<div class="body-header">
  <h1>Xanthan Gum</h1>
</div>
<div class="pronounce-bar">
  <p>[zan-thuhn guhm]</p>
  <%= audio_tag "xanthan.mp3", id: "myAudio" %>
  <i class="speaker fa fa-volume-up"></i>
  <!-- <button onclick="playAudio()" type="button" class="btn btn-primary"><i class="fa fa-volume-up"></i></button> -->
</div>

<div class="body-title">
  Sugar-like Compound
</div>
<div class="body">
Xanthan gum is created by a sugar fermentation process.
The bacteria Xanthomonas campestris eat simple sugars and turn them into complex carbohydrates that become xanthan gum.
After processing, xanthan gum looks like a white powder.
</div>

<div class="images">
  <%= image_tag("xanthan1.jpg", height: '400', width: '450')%>
  <%= image_tag("xanthan2.jpg", height: '400', width: '270', class: 'image2')%>
</div>


<div class="body-title">
  What is it used for?
</div>

<div class="body">
  <ul>
    <li>acting as a binder, stabilizer, and thickener</li>
    <li>helping to create a uniform texture in food products</li>
    <li>replacing some fats</li>
    <li>creating a creamy texture</li>
  </ul>
</div>

<div class="body-title">
  May be found in...
</div>

<div class="body">
  <ul>
    <li>baked goods</li>
    <li>dressings</li>
    <li>ice cream</li>
    <li>frozen desserts</li>
    <li>confections</li>
  </ul>
</div>

<div class="body-title">
  Dosage
</div>

<div class="body">
The recommended acceptable daily intake (ADI) of xanthan gum is 0–10 milligrams per kilogram each day.
It has a laxative effect when taken at doses of 15 milligrams or more.
<br><br>
Xanthan gum is not recommended for infants.


</div>

<div class="body-title">
  Health Benefits
</div>
<div class="body">
  <ul>
    <li>Can replace gluten</li>
    <li>Laxative effects</li>
    <li>Making liquids thicker and easier to swallow</li>
    <li>Stabilizing blood sugar levels when mixed with beta-glucan</li>
  </ul>
</div>

<div class="body-title">
  Potential side effects...
</div>
<div class="body">
  <ul>
    <li>laxative effect</li>
    <li>Increase in flatulence or gas</li>
    <li>Necrotizing enterocolitis in infants</li>
    <li>Changes in gut bacteria</li>
  </ul>
</div>

<div class="body-title">
  Substitues for Xanthan Gum
</div>
<div class="body">
  <ul>
    <li>guar gum</li>
    <li>psyllium seed husks</li>
    <li>chia seeds</li>
    <li>ground flaxseeds</li>
    <li>gelatin</li>
    <li>carrageenan</li>
    <li>acacia gum</li>
    <li>agar</li>
    <li>egg whites</li>
  </ul>
</div>

<div class="body-title">
  Is it Safe?
</div>
<div class="body">
  Xanthan gum is a food additive that is generally considered safe. <br>
  It’s a common gluten-free substitute for baking or cooking. <br>
  Thickeners that contain xanthan gum, like Simply Thick, are not recommended
  for infants due to increased risk of infection and death. <br>
  The U.S. Food and Drug Administration (FDA) considers xanthan gum to be Generally Recognized as Safe (GRAS).
</div>
