<h1>Welcome</h1>
<p>Be heard! Seek Wisdom! Join the conversation, or start your own.</p>

  <div class="subject-header">
      <h2 class="">General</h2>
      <p>Topics</p>
  </div>

    <div class="subject">
      <%= link_to @topics.first.name, topic_subjects_path(@topics.first)  %>
      <p class="subject-count"><%= @topics.first.subjects.count %></p>
    </div>
    <hr style="margin-bottom:5px; border-top: 5px solid black;">

    <div class="subject-header">
      <h2 class="">Ingredients</h2>
      <p>Topics</p>
    </div>

    <% @topics.drop(1).each do |topic|  %>
    <div class="subject">
      <%= link_to topic.name, topic_subjects_path(topic) %>

      <p class="subject-count"><%= topic.subjects.count %></p>
    </div>
    <% end %>
