<div class="share-buttons">
  <%= render 'share_buttons', name: 'Azodicarbonamide' %>
</div>

<div class="body-header">
  <h1>Azodicarbonamide</h1>
</div>
<div class="pronounce-bar">
  <p>[ey-zoh-dahy-kahr-boh-noh-mahyd]</p>
  <%= audio_tag "azodicarbonimide.ogg", id: "myAudio" %>
  <i class="speaker fa fa-volume-up"></i>
  <!-- <button onclick="playAudio()" type="button" class="btn btn-primary"><i class="fa fa-volume-up"></i></button> -->
</div>

<div class="body-title">
  Dough Conditioner
</div>
<div class="body">
It is a yellow to orange-red, odorless, crystalline powder used to make flour appear whiter, lengthen shelf life and improve its texture
</div>

<div class="images">
  <%= image_tag("azodicarbonamide1.jpg", height: '400', width: '450')%>
</div>

<div class="body-title">
  May be found in...
</div>

<div class="body">
  <ul>
    <li>bread</li>
    <li>flour</li>
    <li>pizza</li>
    <li>pasta</li>
  </ul>
</div>

<div class="body-title">
  Dosage
</div>

<div class="body">
The US Food and Drug Administration has assessed that azodicarbonamide can be added to flour only in tiny amounts - 45 parts per million!


<div class="body-title">
  Potential side effects...
</div>
<div class="body">
  <ul>
    <li>skin irritation</li>
    <li>asthma</li>
    <li>respiratory problems</li>
    <li>allergies</li>
  </ul>
</div>

<div class="body-title">
  Is it Safe?
</div>
<div class="body">
Although considered GRAS (Generally Recognized as Safe) by the FDA, it has been banned in Europe and Australia.
</div>
