<div class="share-buttons">
  <%= render 'share_buttons', {name: @ingredient.name, link: topic_subjects_path(@ingredient.id) }%>
</div>

<div class="body-header">
  <h1>Butylated Hydroxytoluene</h1>
</div>
<div class="pronounce-bar">
  <p>[hahy-drok-see-tol-yoo-een]</p>
  <%= audio_tag "bht.mp3", id: "myAudio" %>
  <i class="speaker fa fa-volume-up"></i>
  <!-- <button onclick="playAudio()" type="button" class="btn btn-primary"><i class="fa fa-volume-up"></i></button> -->
</div>

<div class="body-title">
  Lab-made Chemical
</div>
<div class="body">
BHT (butylated hydroxytoluene) is a lab-made chemical that is added to foods for its ability to preserve fats.
</div>

<div class="images">
  <%= image_tag("bht1.jpg", height: '400', width: '450')%>
</div>

<div class="body-title">
  May be found in...
</div>

<div class="body">
  <ul>
    <li>cereals</li>
    <li>potato chips</li>
    <li>shortening</li>
    <li>snack foods</li>
  </ul>
</div>

<div class="body-title">
  Potential side effects...
</div>
<div class="body">
  <ul>
    <li>impact sleep</li>
    <li>loss of appetite</li>
    <li>hair loss</li>
    <li>hyperactivity in children</li>
  </ul>
</div>

<div class="body-title">
  Substitues for BHT
</div>
<div class="body">
  <ul>
    <li>Vitamin C</li>
    <li>Vitamin E</li>
    <li>Mixed Tocopherols (family of Vitamin E compounds)</li>
  </ul>
</div>

<div class="body-title">
  Is it Safe?
</div>
<div class="body">
  The Department of Health and Human Services pegged them as known carcinogens, yet
the FDA considers this ingredient as Generally Recognized As Safe (GRAS)
to use as a food additive up to concentrations of .02%.  <br>
This preservative is banned in U.K., Japan and many other European countries.
<br>
</div>
