<div class="body-header">
  <h1>Sodium Nitrate</h1>
</div>
<div class="pronounce-bar">
  <p>[soh-dee-uh-m nahy-treyt]</p>
  <%= audio_tag "sodium_nitrate.mp3", id: "myAudio" %>
  <i class="speaker fa fa-volume-up"></i>
  <!-- <button onclick="playAudio()" type="button" class="btn btn-primary"><i class="fa fa-volume-up"></i></button> -->
</div>

<div class="body-title">
  Food Preservative
</div>
<div class="body">
Sodium Nitrate is a kind of salt that is mainly used to preserve meat products.
</div>

<div class="images">
  <%= image_tag("sodium_nitrate1.jpg", height: '400', width: '450')%>
</div>

<div class="body-title">
  May be found in...
</div>

<div class="body">
  <ul>
    <li>cured meat</li>
    <li>hot dogs</li>
    <li>bacon</li>
    <li>salami</li>
    <li>smoked fish</li>
  </ul>
</div>

<div class="body-title">
  Potential side effects...
</div>
<div class="body">
  <ul>
    <li>headaches</li>
    <li>dizziness</li>
    <li>nausea</li>
    <li>upset stomach</li>
  </ul>
</div>

<div class="body-title">
  Substitues for Sodium Nitrate
</div>
<div class="body">
  <ul>
    <li>Sea Salt</li>
    <li>Salt, Sugar and Saltpeter</li>
    <li>Celery Juice</li>
  </ul>
</div>

<div class="body-title">
  Is it Safe?
</div>
<div class="body">
Consume all processed meats in moderation. Limit purchases so that consumption is limited and choose an alternative if possible (freshly cooked chicken breast sliced for sandwiches instead of processed chicken breast lunch meat)
</div>
