<div class="share-buttons">
  <%= render 'share_buttons', {name: @ingredient.name, link: topic_subjects_path(@ingredient.id) }%>
</div>

<div class="body-header">
  <h1>Thiamine Mononitrate</h1>
</div>
<div class="pronounce-bar">
  <p>[thahy-uh-min mon-oh-nahy-treyt]</p>
  <%= audio_tag "thiamine_mononitrate.mp3", id: "myAudio" %>
  <i class="speaker fa fa-volume-up"></i>
  <!-- <button onclick="playAudio()" type="button" class="btn btn-primary"><i class="fa fa-volume-up"></i></button> -->
</div>

<div class="body-title">
  Vitamin B1
</div>
<div class="body">
Thiamine is vitamin B1.
It helps the body convert fat to energy and often are advertised for weight loss.
Thiamine is important in the breakdown of carbohydrates from foods into products needed by the body.
</div>

<div class="images">
  <%= image_tag("thiamine1.jpg", height: '400', width: '450')%>
</div>

<div class="body-title">
  May be found in...
</div>

<div class="body">
  <ul>
    <li>cereals</li>
    <li>whole grains</li>
    <li>meat</li>
    <li>nuts</li>
    <li>beans and peas</li>
  </ul>
</div>

<div class="body-title">
  Dosage
</div>

<div class="body">
The following doses are the U.S. recommended daily allowance (RDA) of thiamine taken by mouth
for those without risk of thiamine deficiency:
<br>
in adults 19 and older, 1.2 milligrams for males and 1.1 milligrams for females
</div>

<div class="body-title">
  Health Benefits
</div>
<div class="body">
  <ul>
    <li>helps body convert carbohydrates to energy</li>
    <li>body manufactures hydrochloric acid with the help of thiamine for easy digestion</li>
    <li>helps regulate the flow of electrolytes in and out of the cells of nerves and muscles.</li>
  </ul>
</div>

<div class="body-title">
  Potential side effects...
</div>
<div class="body">
  <ul>
    <li>nausea, tight feeling in your throat</li>
    <li>sweating, feeling warm</li>
    <li>mild rash or itching</li>
    <li>feeling restless</li>
  </ul>
</div>

<div class="body-title">
  Is it Safe?
</div>
<div class="body">
  Thiamin is generally considered safe and nontoxic, even at high doses.
  Doses higher than 100 mg may cause drowsiness or muscle relaxation
</div>
