<div class="col-md-3 sidebar ">
  <div class="sidebar-buttons">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Filter
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="green z"></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="orange z"></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="red z"></a></li>
        <li role="presentation"><a href="#" class='all color-container'>
          <div class="small-box green"></div>
          <div class="small-box orange"></div>
          <div class="small-box red"></div>
          </a>
        </li>
      </ul>
    </div>
        <!-- <a href="/topics" style="padding-left: 10px;padding-top:5px;">Discuss</a> -->

  </div>


  <div class='ingredients-header'>
    <a href="/">Ingredients</a>
  </div>
  <ul class="nav nav-sidebar ">

    <div class="ingredient good">
      <a href="/xanthan_gum">
          <div class="ingredient-border icon"><i class="fa fa-smile-o"></i></div>
          <div class='ingredient-name'>Xanthan Gum</div>
      </a>
    </div>
    <div class="ingredient good">
      <a href="/thiamine_mononitrate">
          <div class="ingredient-border icon"><i class="fa fa-smile-o"></i></div>
          <div class='ingredient-name'>Thiamine Mononitrate</div>
      </a>
    </div>
    <div class="ingredient neutral">
      <a href="/azodicarbonamide">
          <div class="ingredient-border icon"><i class="fa fa-meh-o"></i></div>
          <div class='ingredient-name'>Azodicarbonamide</div>
      </a>
    </div>
    <div class="ingredient neutral">
      <a href="/sodium_nitrate">
          <div class="ingredient-border icon"><i class="fa fa-meh-o"></i></div>
          <div class='ingredient-name'>Sodium Nitrate</div>
      </a>
    </div>
    <div class="ingredient bad">
      <a href="/butylated_hydroxytoluene">
          <div class="ingredient-border icon"><i class="fa fa-frown-o"></i></div>
          <div class='ingredient-name'>Butylated Hydroxytoluene</div>
      </a>
    </div>
    <!-- <div class="divider">
      <a href="#"></a>
    </div>
    <div class="ingredient good">
      <a href="#">
          <div class="ingredient-border icon"><i class="fa fa-smile-o"></i></div>
          <div class='ingredient-name'>Glycerin</div>
      </a>
    </div>
    <div class="ingredient neutral">
      <a href="#">
          <div class="ingredient-border icon"><i class="fa fa-meh-o"></i></div>
          <div class='ingredient-name'>Sorbitol</div>
      </a>
    </div>
    <div class="ingredient good">
      <a href="#">
          <div class="ingredient-border icon"><i class="fa fa-smile-o"></i></div>
          <div class='ingredient-name'>Aspartame</div>
      </a>
    </div>
    <div class="ingredient good">
      <a href="#">
          <div class="ingredient-border icon"><i class="fa fa-smile-o"></i></div>
          <div class='ingredient-name'>Saccharin</div>
      </a>
    </div>
    <div class="ingredient good">
      <a href="#">
          <div class="ingredient-border icon"><i class="fa fa-smile-o"></i></div>
          <div class='ingredient-name'>Sucralose</div>
      </a>
    </div>
    <div class="ingredient bad">
      <a href="#">
          <div class="ingredient-border icon"><i class="fa fa-frown-o"></i></div>
          <div class='ingredient-name'>Xylitol</div>
      </a>
    </div>
    <div class="divider">
      <a href="#"></a>
    </div>
    <div class="ingredient bad">
      <a href="#">
          <div class="ingredient-border icon"><i class="fa fa-frown-o"></i></div>
          <div class='ingredient-name'>Carrageenan</div>
      </a>
    </div>
    <div class="ingredient neutral">
      <a href="#">
          <div class="ingredient-border icon"><i class="fa fa-meh-o"></i></div>
          <div class='ingredient-name'>Benzoic Acid</div>
      </a>
    </div>
    <div class="ingredient bad">
      <a href="#">
          <div class="ingredient-border icon"><i class="fa fa-frown-o"></i></div>
          <div class='ingredient-name'>Monosodium Glutamate</div>
      </a>
    </div>
    <div class="ingredient bad">
      <a href="#">
          <div class="ingredient-border icon"><i class="fa fa-frown-o"></i></div>
          <div class='ingredient-name'>Magnesium Stearate</div>
      </a>
    </div>
    <div class="ingredient bad">
      <a href="#">
          <div class="ingredient-border icon"><i class="fa fa-frown-o"></i></div>
          <div class='ingredient-name'>Butylated Hydroxyanisole</div>
      </a>
    </div>
    <div class="ingredient neutral">
      <a href="#">
          <div class="ingredient-border icon"><i class="fa fa-meh-o"></i></div>
          <div class='ingredient-name'>Maltodextrin</div>
      </a>
    </div>
    <div class="divider">
      <a href="#"></a>
    </div>
    <div class="ingredient neutral">
      <a href="#">
          <div class="ingredient-border icon"><i class="fa fa-meh-o"></i></div>
          <div class='ingredient-name'>Caramel Colour</div>
      </a>
    </div> -->
  </ul>
</div>
