<div class="share-buttons">
  <%= render 'ingredients/share_buttons', name: 'A place to learn about food chemicals', link: topics_path %>
</div>

<div class="landing">
  <div class="landing-header">
    <h1>foodsight</h1>
  </div>
    <div class="body">
      <h3>A place to learn about those hard to pronounce food ingredients</h3>
      <ul>
        <li>Which inredients are most dangerous?</li>
        <li>How to pronounce them</li>
        <li>What foods are they found in most commonly?</li>
      </ul>
      <h4>Click any ingredient on the left to view them</h4>
    </div>
<section id="privacy">
  <h2>Privacy Policy</h2>
  <p>We use Facebook Login to authenticate users. We only collect public profile information such as name and email for login purposes. We do not share or sell your data.</p>
<h2>Data Deletion Instructions</h2>
<p>If you wish to delete your account and associated data from our app, please send a request to <a href="mailto:summereye77@gmail.com">summereye77t@gmail.com</a> with the subject line “Delete My Data”.</p>
<p>Please include the email address associated with your Facebook account so we can identify your data. Your information will be permanently deleted within 7 days of the request.</p>

</section>
  </div>
