/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap_overrides
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 body {
    margin: 0;
}

 .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #fbffe1;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  overflow-y: scroll;
}

.nav-sidebar .ingredient-name{
  font-size: 20px;
  color:  #576600;
  line-height: 48px;
}

.ingredient-border i{
  height: 49px;
  width: 57px;
  font-size: 48px;
  text-align: center;
  border-radius: 3px;
  margin-right: 15px;
}

.icon i{
  color: white;
}

.good i{
  background-color: #3FBC46;
}

.bad i{
  background-color: #E54C4E;
}

.neutral i{
  background-color: #FF6600;
}

i {
  transition: background-color 0.25s ease;
}

a {
  transition: background-color 0.25s ease;
}

.ingredients-header {
  font-family: Palatino;
  font-size: 30px;
  margin-left: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.ingredients-header a {
  color: #829900;
  transition: color 0.25s ease-out;
}

.ingredients-header a:hover, a:focus {
  color: #414d00;
  text-decoration: none;
}

.main {
  padding: 50px;
  padding-right: 200px;
}

.nav-sidebar a:focus, .nav-sidebar a:hover {
  background-color: #f5ffb3 !important;
}

.nav-sidebar a {
  text-decoration: none;
}

.nav-sidebar a {
  margin-left: 5px;
  margin-bottom: 5px;
  display: flex !important;
}

.fa-volume-up {
  font-size: 25px;
}

.pronounce-bar {
  display: flex;
}

.pronounce-bar p{
  margin: 5px 10px 5px 0px;
  font-size: 25px;
  color: #8c8c8c;
}

.landing-header h1 {
  font-family: "Lucida Grande", sans-serif;
  font-size: 50px;
  font-style: italic;
}

.body-header h1 {
  font-family: "Lucida Grande", sans-serif;
  font-size: 50px;
}

@-webkit-keyframes shake {
 from {
    -webkit-transform: rotate(10deg);
 }
 to {
   -webkit-transform-origin:center center;
   -webkit-transform: rotate(-10deg);
 }
}

a:hover i {
   -webkit-animation: shake ease-in-out 0.3s infinite alternate;
}

.dropdown-menu {
  min-width: 115px;
}

.dropdown-menu a.green:hover {
  background-color: #39ac3f !important;
}

.dropdown-menu a.orange:hover {
  background-color: #e65c00 !important;
}

.dropdown-menu a.red:hover {
  background-color: #e23639 !important;
}

.dropdown-menu a:hover{
  filter: brightness(85%) !important;
}

.red {
  height: 30px;
  background-color: #E54C4E;
}

.orange {
  height: 30px;
  background-color: #FF6600;
}

.green {
  height: 30px;
  background-color: #3FBC46;
}

.small-box {
  width:35px;
}

.color-container {
  display: flex !important;
  padding: 0 !important;
}

.divider {
  height: 30px;;
}

.sidebar-buttons {
  display: flex;
}

.share-buttons {
  margin-left: auto;
  order: 2;
}
