// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body-title {
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 30px;
  color: black;
}

.body {
  font-size: 18px;
  color: #8c8c8c;
}

.images {
  margin-top: 20px;
}

.image2 {
  margin-left: 100px;
}

li {
  padding: 5px;
}

.speaker {
  color: #1ab2ff;
  padding-top: 3px;
  padding-left: 10px;
  font-size: 40px !important;
}

i{
  cursor: pointer;
}
