// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.landing {
  margin-top: 50px;
}

.body {
  font-size: 18px;
  color: #8c8c8c;
}

h3 {
  margin-bottom: 30px;
}
