.body-title {
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 30px;
}

.body {
  font-size: 18px;
  color: #8c8c8c;
}

.images {
  margin-top: 20px;
}

.image2 {
  margin-left: 100px;
}

li {
  padding: 5px;
}
