<!DOCTYPE html>
<html>
  <head>
    <title>Foodsight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

    <div class="col-md-3 sidebar ">
      <div class='ingredients-header'>
        <a href="/">Ingredients</a>
      </div>
      <ul class="nav nav-sidebar ">
        <a href="/xantham_gum">
          <div class="ingredient-border icon good"><i class="icon fa fa-smile-o"></i></div>
          <div class='ingredient-name'>Xanthan Gum</div>
        </a>
        <a href="/ingredients/xantham_gum">
          <div class="ingredient-border icon bad"><i class="icon fa fa-frown-o"></i></div>
          <div class='ingredient-name'>Thiamine Mononitrate</div>
        </a>
        <a href="/ingredients/xantham_gum">
          <div class="ingredient-border icon neutral"><i class="icon fa fa-meh-o"></i></div>
          <div class='ingredient-name'>Azodicarbonamide</div>
        </a>
      </ul>
    </div>

    <div class="main col-md-9 col-md-offset-3">
      <%= yield %>
    </div>

  </body>
</html>
